footer.content-info {
	background: #f6f6f6;
	width: 100%;
	padding-top: 30px;
	//margin-top: 30px;
	text-align: center;
	color: $medium-grey;
	clear: both;

	@media (min-width: $screen-sm-min) {
		height: 100px;
	}

	ul {
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 25px;
		}
	}

	p.copyright {
		font-size: 10px;
	}
}