
h4.intro {
	font-family: $slab-serif-font;
	text-align: center;
    padding: 40px 0;
    font-size: 25px;
    color: $gold;
    font-style: italic;
    clear: both;
}
.categoryRow {
	margin-bottom: 30px;


	h3.entry-title {
		font-size: 16px;
		line-height: 20px;
	}

	h2 {
		border-bottom: 3px solid #f6f6f6;
		text-transform: lowercase;
		font-family: 'Arvo',serif;
		margin: 30px 0;
		line-height: 0px;

		a {
			color: $gold;
			padding-right: 10px;
			background-color: white;
		}
	}

	.fa {
		font-size: 20px;
	}
}
.categoryRow:nth-child(3n+1) {
	background: #F2EAF7;

	h2 {
		font-family: $serif-font-italic;
		font-style: italic;
		border-bottom: 1px solid $text-grey;
		text-transform: capitalize;

		a {
			color: $text-grey;
			background: #F2EAF7;
		}
	}
}

.categoryRow:nth-child(3n+2) {

	h2 {
		font-family:$script-font;

		a {
			color: $light-turquoise;
		}
	}
}

.categoryRow.recentlyAdded {
	h2 {
		text-align: center;
		font-family: $headings-font;
	}
}

.miscellaneous, .uncategorized, .videos {
	display: none;
}