
h4.intro {
	@include headings(500);
	text-align: left;
    font-size: 17px;
    color: black;
    text-transform: lowercase;
    margin-bottom: 15px;
}

.categoryRow {
	margin-bottom: 40px;
	position: relative;

	h3.entry-title {
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 7px;
	}

	h2 {
		border-bottom: 3px solid #f6f6f6;
		text-transform: lowercase;
		font-family: $slab-serif-font;
		margin: 30px 0;
		margin-top: 40px;
		line-height: 7px;

		a,span {
			color: $gold;
			padding-right: 10px;
			background-color: $global-bg;
			transition: all .2s ease-in-out;
		}
		a:hover {
			transform: scale(1.1);
			font-size: 35px;
		}
	}

	p {
		font-size: 14px;
		line-height: 20px;
	}
	.seeMore {
		font-size: 12px;
		float: right;
		@include headings(700);
		letter-spacing: 1px;
		text-transform: uppercase;
		position: absolute;
		top: 28px;
		right: 13px;
	}
	.fa {
		font-size: 20px;
		line-height: 15px;
	}
	.readMore {
		font-family: $serif-font-italic;
   		font-style: italic;
    	font-weight: 700;
    	font-size: 12px;
    	color: $turquoise;
	}
}
.categoryRow:not(.recentlyAdded) {
	//background: #F2EAF7;

	h2 {
		font-family: $serif-font-italic;
		font-style: italic;
		border-bottom: 3px solid $text-grey;
		text-transform: capitalize;

		a,span {
			color: $text-grey;
			//background: #F2EAF7;
		}
	}
}


.categoryRow.recentlyAdded {
	h2 {
		font-size: 36px;
		margin-bottom: 15px;
		color: $turquoise;
		@include headings(700);

		span { background: $global-bg; }
	}
}

.miscellaneous, .uncategorized, .videos {
	display: none;
}

.home {
	.subscribe {
		margin-left: -15px;
		margin-right: -15px;
	}
}