header {
	position: relative;

	#social-menu{
		text-align: center;
	    display: none;

	    @media (min-width: $screen-md-min) {
	        display: block;
	      }
	}
	.headerBg {
		position: absolute;
		width: 100%;
		height: 55px;
		top: 0px;
		left: 0px;
		// background: url('#{$icon-images-path}mint_bg.jpg') top center no-repeat;
		opacity: 0.5;
		z-index: -200;

		@media (min-width: $screen-sm-min) {		
			height: 70px;
		}
	}
	ul {
		padding: 10px 0;

		li {
			@include headings(700);
			color: $text-grey;
			display: inline-block;
		}
	}
	ul li:last-child {
		margin-right: 0px;
	}

	.headerWrap {
		width: 100%;
		height: 55px;
		padding: 15px;
		margin: 0px auto;
		-webkit-box-shadow: 9px 10px 32px -10px rgba(0,0,0,0.15);
		-moz-box-shadow: 9px 10px 32px -10px rgba(0,0,0,0.15);
		box-shadow: 9px 10px 32px -10px rgba(0,0,0,0.15);
		position: fixed;
		top: 0px;
		z-index: 500;
		background: rgba(255,255,255,.85);

		@media (min-width: $screen-sm-min) {		
			height: 70px;
		}
	}

	img.logo {
		width: 100px;
		margin-right: 5px;
		float: left;
	}

	.mobileMenu {
		font-size: 30px;
		float: right;
		cursor: pointer;
	}
	.left {
		float: right;
		margin-right: 70px;
		
		@media (min-width: $screen-sm-min) {		
			float: left;
			margin-right: 0px;	
		}
		position: relative;
	}

	.desktopMenu {
		font-size: 22px;
		left: 0;
		top: 10px;
		position: absolute;
		cursor: pointer;
		opacity: 0.0;
        @include transition(all 200ms ease-in);
    }

	h2.subtitle {
		display: none;
		margin-top: 6px;
		font-size: 17px;
		@include headings(700);
		color: #000;
		@include transition(all 300ms ease-in);
		text-transform: uppercase;
    	letter-spacing: 2px;

		@media (min-width: $screen-sm-min) {
		    display: block;
		  }

        span {
			color: $turquoise;
			font-family: $slab-serif-font-700;
			font-size: 24px;
			position: relative;
			//top: 2px;
			text-transform: lowercase;

		}
	}

	.icons {
		position: absolute;
		right: 15px;
		top: 10px;
	}

	nav.mainNav {
		
		padding: 10px 30px;
		background: $light-light-grey;

	}
	.primaryNav {
		margin: 0px auto;
		text-align: center;
		clear: both;
		margin-top: 70px;
		padding: 0px;
		
		li, li:active {
			margin-right: 25px;
			text-transform: lowercase;
			font-size: 15px;
			@include transition(all 300ms);
			padding-bottom: 0;
    		border-bottom: 3px solid $light-light-grey;

			a {
				color: $dark-blue;
			}
		}

		li:hover {
			padding-bottom: 0px;
			border-bottom: 3px solid $turquoise;
		}

	}

	.secondaryNav {
		text-align: center;
		margin: 0px;
		padding: 0px;

		li {
			margin-right: 10px;
			font-size: 14px;
			text-transform: lowercase;
			font-family: $slab-serif-font-300;
			color: $gold;

			a {
				color: #666;
			}
			a:hover {
				color: $turquoise;
			}
		}
		li::before { 
		    content: "// ";
		    margin-right: 10px;
		}
		li:first-child::before { 
		    content: none;
		}
	}

	.headerDropdown {
		position: fixed;
		top: -195px;
		width: 100%;
		z-index: 100;
		@include transition(top 300ms);

		@media (min-width: $screen-sm-min) {
			top: -145px;
		}

		nav ul {
			text-align: right !important;
		}
	}

	.headerDropdown.open {
		top: 0px;
	}

	.searchBar {
		width: 0px;
		height: 33px;
		margin-left: 20px;
		position: relative;
		display: inline-block;
		@include transition(width 300ms);

		form {
			position: absolute;
			right: 0;
			top: 8px;
		}
		
		&.open {
			width: 200px;
		}
	}

}

header .scrolled h2.subtitle {
	margin-left: 45px;
}

header .scrolled .desktopMenu {
	opacity: 1.0;
	@include transition(all 300ms ease-in 300ms);
}

header .smallHeader .primaryNav {
	margin-top: 0px;
}
