.menuOverlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(70,102,107,.9);
	z-index: 100;
	opacity: 1.0;
	@include transition(all 300ms);
	display: table;

	#social-menu{
	    display: none;
	}
	&.closedMenu {
		opacity: 0.0;
		top: -100%;
	}

	.mobileSearch {
		margin-bottom: 30px;

		.input-group {
			margin: 0 auto;
			width: 70%;
		}
	}
	ul {
		padding: 0;
	}

	li {
	    text-transform: lowercase;
	    font-family: $headings-font;
	    text-align: center;
	}

	li a {
		font-size: 22px;
		color: #fff;
	}

	nav {
		display: table-cell;
		vertical-align: middle;
	}

	.secondaryNav {
		margin-top: 30px;
		margin-bottom: 0;

		li a { 
			font-size: 16px; 
			font-family: $slab-serif-font;
		}
	}
}