body {
	font-family: source-sans-pro, sans-serif;
}

div, ul, li, nav, header, footer, section, aside {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a {
	text-decoration: none;
	//color: #666;
	color: black;
}

a:focus {
	color: $turquoise;
	text-decoration: none;
}
a:hover {
	color: $turquoise;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	@include headings(700);
	//color: $text-grey;
}

h1 {
	font-size: 24px;
	@media (min-width: $screen-sm-min) {
	    font-size: 36px;
	}
}
.slabSerif {
	font-family: $slab-serif-font;
}

.script {
	font-family: $script-font;
}

.centeredText {
	text-align: center;
}

p {
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: $text-grey;
}


ul {
	list-style-type: none;
}

.mobileHide {
	display: none;

	@media (min-width: $screen-sm-min) {
	    display: block;
	}
}

.desktopHide {
	@media (min-width: $screen-sm-min) {
	    display: none;
	}
}

.twiggName {
	white-space: nowrap;
}

.full-page.mobile {
	padding-top: 60px;
}

.videoHolder {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoHolder iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.divider {
	width: 100px;
	height: 5px;
	margin: 0 auto;
	background: #000;
}