body {
	font-family: source-sans-pro, sans-serif;
}

div, ul, li, nav, header, footer, section, aside {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a {
	text-decoration: none;
	//color: #666;
	color: black;
}

a:focus {
	color: $turquoise;
	text-decoration: none;
}
a:hover {
	color: $turquoise;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	//font-family: source-sans-pro, sans-serif;
	font-family: 'Montserrat', sans-serif;
	//color: $text-grey;
}

h2.script {
	font-family: $script-font;
	color: $turquoise;
}

.centeredText {
	text-align: center;
}

p {
	//font-family: 'Istok Web', sans-serif;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 22px;
	color: $text-grey;
}


ul {
	list-style-type: none;
}

.mobileHide {
	display: none;

	@media (min-width: $screen-sm-min) {
	    display: block;
	}
}

.desktopHide {
	@media (min-width: $screen-sm-min) {
	    display: none;
	}
}

.twiggName {
	white-space: nowrap;
}