.becomeContributorForm {
	margin-bottom: 50px;

	footer {
		position: fixed;
		bottom: 0;
	}
	h2 {
		@media (min-width: $screen-sm-min) {	
			font-size: 42px;
			margin-top: 50px;
			@include transition(opacity 300ms);
		}
		color: black;
	}
	ul.navSteps {
		padding: 0;
		text-align: center;
		font-family: $slab-serif-font;
		font-weight: bold;
		color: $light-grey;
		font-size: 35px;
		
		li {
			display: inline-block;
			opacity: 0;

			&.fadeIn {
				-webkit-opacity: 1.0; 
				opacity: 1.0;
				@include transition(opacity 300ms 300ms);
				
				&[data-animation="200"] {
					@include transition(opacity 300ms 400ms);
				}

				&[data-animation="300"] {
					@include transition(opacity 300ms 500ms);
				}

				&[data-animation="400"] {
					@include transition(opacity 300ms 600ms);
				}

			}

			.divider {
				display: inline-block;
				width: 85px;
				height: 6px;
				background-color: $light-grey;
				margin: 10px;
			}
		}

		li.completedSteps {
			.number {
				color: $turquoise;
				@include transition(all 400ms 400ms);
			}
			.divider {
				background-color: $turquoise;
				@include transition(all 400ms 200ms);
			}
		}

		li:first-child .divider {
			display: none;
		}
	}

	@media (min-width: $screen-sm-min) {	
		p, span {
			font-size: 16px;
	    	text-align: center;
	    	font-weight: 500;
	    	font-family: $headings-font;
		}

	}
	input {
		background: $light-light-grey;
	}

	.introText {
		text-align: center;
	    font-weight: 400;
		@media (min-width: $screen-sm-min) {	
			font-size: 20px;
			line-height: 30px;

		    span.beginForm {
		    	font-weight: 600;
		    	text-decoration: underline;
		    	color: $turquoise;
		    	cursor: pointer;
		    }
		}
	}
	
	.wpcf7-mail-sent-ok {
		display: none !important;
	}

	.contributorAgreementCheck span.wpcf7-not-valid-tip {
		position: absolute !important;
		width: 300px;
	}
	.wpcf7-response-output.wpcf7-validation-errors {
		display: none !important;
	}
	.formStep {
		div {
			margin-bottom: 20px;
		}
		@media (min-width: $screen-sm-min) {	
			height: 250px;
			padding-top: 30px;

			&[data-step="1"] {
				margin-top: 250px;
			}

			div {
				margin-bottom: 10px;
			}
		}

		
	}

	&[data-currentstep="0"] {
		h2 {
			margin-top: 100px;
			@include transition(all 400ms);
		}
	}

	&[data-currentstep="1"] {
		h2 {
			margin-top: 50px;
			@include transition(all 400ms);
		}

		.prevStep, .reset {visibility:hidden;}
	}
	&[data-currentstep="3"] {
		.formStep {
			padding-top: 0;
		}
		
		.prevStep {
			float: right;
			text-align: right;
		}
		.nextStep {display: none;}
	}

	&[data-currentstep="4"] {
		.navOptions {display: none;}
		.formStep {
			padding-top: 0;
		}
	}
	.navOptions p {
		opacity: 0;
		cursor: pointer;
		font-family: $headings-font;
		margin-bottom: 3px;
		text-align: left;

		&.nextStep, &.reset {text-align: right;}
		&.fadeIn {
			opacity: 1.0;
			@include transition(opacity 300ms 700ms);
		}
	}
	.prevStep, .nextStep {
		color: $turquoise;
		font-size: 28px; 
	}

	.reset {
		font-size: 14px;
    	margin-top: 10px;
	}

	.successMessage {
		h4 {
			text-align: center;
		}
	}
}

.contributorFormWrapper {
	&.small {
		@media (min-width: $screen-sm-min) {	
			height: 250px;
			overflow-y: hidden;
		}
	}

	input[type="submit"] {
		background: $turquoise;
		color: #fff;
		float: right;
	}
	label {
		font-family: $slab-serif-font;
		@media (min-width: $screen-sm-min) {	
			font-size: 18px;
		}
	}

	.required {
		color: #660000;
	}

	@media (min-width: $screen-sm-min) {	
		select {
			width: 70%;
		}
	}
}

.topics {
	text-align: center;
	line-height: 40px;

	@media (min-width: $screen-sm-min) {	
		width: 75%;
		margin: 0 auto;
	}
}
.topics span {
	border-radius: 15px;
    border: 0;
    padding: 5px 15px;
    font-size: 15px;
    text-transform: lowercase;
    font-family: $headings-font;
    font-weight: 500;
    color: white;
    background: $purple;
    cursor: pointer;

    &:hover {
    	background: $light-turquoise;
    }
}
.topics span.active {
	color: $turquoise; 
	background: $light-turquoise;
}

.contributorAgreementTrigger {
	color: $turquoise;
	text-decoration: underline;
}
.contributorAgreement {
	text-align: left;
	ul {
		padding-left: 19px;
		margin-top: 15px;
		font-size: 15px;
	}

	li {
		margin-bottom: 10px;
		font-weight: 300;
	}
}
