body.become-a-contributor {
	.leftContact {
		padding: 20px;
		padding-top: 70px;

		@media (min-width: $screen-sm-min) {	
		width: 45%;
		height: 100%; 
		position: fixed;
		top: 0px;
		left: 0px;
		display: table;
	
		}
		.content {
			display: table-cell;
			vertical-align: middle;
		}
	}

	.contactForm {
		width: 100%;
		@media (min-width: $screen-sm-min) {	
			width: 55%;
			float: right;
			border-left: 3px solid black;
		}
	}
	h3 {
		text-align: center;
		color: $turquoise;
	}
	h4 {
		text-align: center;
	}

	iframe {
		margin: 0 auto;
		width: 100%;
		min-height: 1895px;
	}

	p {
		font-size: 18px;
		line-height: 26px;

		.mobileHide {
			display: inline-block;
		}
	}

	.number {
		color: $gold;
		font-family: $slab-serif-font;
		font-size: 18px;
	}
}


body.submitted-how-tos {
	.becomeContributorForm {
		ul {
			padding: 0;
			text-align: center;
			font-family: $slab-serif-font;
			color: $light-grey;
			font-size: 35px;

			li.completedSteps {
				color: $medium-grey;
			}
		}

		.formStep {
			height: 250px;

			&[data-step="1"] {
				margin-top: 250px;
			}
		}
	}

	.contributorFormWrapper {
		height: 250px;
		overflow-y: hidden;
	}

	.topics {
		text-align: center;
	}
	.topics span {
		border-radius: 15px;
	    border: 0;
	    padding: 5px 15px;
	    font-size: 12px;
	    text-transform: lowercase;
	    font-family: $headings-font;
	    font-weight: 500;
	    color: white;
	    background: $purple;
	    cursor: pointer;

	    &:hover {
	    	background: $light-turquoise;
	    }
	}
	.topics span.active {
		color: $turquoise; 
		background: $light-turquoise;
	}
}
