@import "_contactUs";
@import "_stuffWeLove";
@import "_aboutUs";
@import "_workshops";

body.category {
	.catDescription {
		text-align: center;
		margin-bottom: 25px;

		@media (min-width: $screen-sm-min) {	
			margin-bottom: 50px;
		}

		p {
			font-family: $slab-serif-font;
			font-size: 22px;
			line-height: 28px;
			color: $dusty-blue;

			@media (min-width: $screen-sm-min) {	
				font-size: 25px;
			}
		}
	}
}