.twiggTips {
	margin-top: 25px;
	text-align: center;
	position: relative;
	height: 70px;

	p {
		width: 96%;
		font-size: 19px;
		line-height: 24px;
		position: absolute;
		font-family: $serif-font-italic;
		font-style: italic;
		opacity: 0.0;
		transition: all 400ms;
		color: $medium-grey;
		text-align: center;

		span {
			text-transform: uppercase;
			font-family: $headings-font;
			color: $gold;
			font-size: 24px;
			letter-spacing: 1px;
			font-style: normal;
		}
	}
	p.active {
		opacity: 1.0;
	}
}