.twiggTips {
	margin-top: 25px;
	text-align: center;
	position: relative;
	padding: 15px;

	hr {
		border: 2px solid $gold;
		width: 115px;
		margin: 15px auto;
	}
	p {
		font-size: 16px;
		line-height: 20px;
		position: absolute;
		opacity: 0.0;
		@include headings(300);
		transition: all 400ms;
		color: black;
		text-align: center;

		span {
			text-transform: lowercase;
			font-family: $serif-font-italic;
			font-weight: 700;
			color: black;
			font-size: 22px;
			letter-spacing: 1px;
			font-style: italic;
			text-align: center;
		}
	}
	p.active {
		opacity: 1.0;
	}
}